.ibe-icon{ width: 48px; height: 48px; display: block; text-indent: -999999px; overflow: hidden; background-repeat: no-repeat;}
.ibe-icon-red{background: url(../img/ibe-icon-red.png) no-repeat top left;}
.ibe-icon-red-1{ background-position: 0 0; } 
.ibe-icon-red-2{ background-position: 0 -96px;  } 
.ibe-icon-red-3{ background-position: 0 -192px;  } 
.ibe-icon-red-4{ background-position: 0 -288px;  } 
.ibe-icon-red-5{ background-position: 0 -384px;  } 
.ibe-icon-red-6{ background-position: 0 -480px;  } 
.ibe-icon-red-7{ background-position: 0 -576px;  } 
.ibe-icon-red-8{ background-position: 0 -672px;  } 
.ibe-icon-red-9{ background-position: 0 -768px;  } 
.ibe-icon-red-Alarme{ background-position: 0 -864px;  } 
.ibe-icon-red-Ampersand{ background-position: 0 -960px;  } 
.ibe-icon-red-Application{ background-position: 0 -1056px;  } 
.ibe-icon-red-Applications{ background-position: 0 -1152px;  } 
.ibe-icon-red-Arrow1Down{ background-position: 0 -1248px;  } 
.ibe-icon-red-Arrow1DownLeft{ background-position: 0 -1344px;  } 
.ibe-icon-red-Arrow1DownRight{ background-position: 0 -1440px;  } 
.ibe-icon-red-Arrow1Left{ background-position: 0 -1536px;  } 
.ibe-icon-red-Arrow1Right{ background-position: 0 -1632px;  } 
.ibe-icon-red-Arrow1Up{ background-position: 0 -1728px;  } 
.ibe-icon-red-Arrow1UpLeft{ background-position: 0 -1824px;  } 
.ibe-icon-red-Arrow1UpRight{ background-position: 0 -1920px;  } 
.ibe-icon-red-Arrow2Down{ background-position: -96px 0;  } 
.ibe-icon-red-Arrow2DownLeft{ background-position: -96px -96px;  } 
.ibe-icon-red-Arrow2DownRight{ background-position: -96px -192px;  } 
.ibe-icon-red-Arrow2Left{ background-position: -96px -288px;  } 
.ibe-icon-red-Arrow2Right{ background-position: -96px -384px;  } 
.ibe-icon-red-Arrow2Up{ background-position: -96px -480px;  } 
.ibe-icon-red-Arrow2UpLeft{ background-position: -96px -576px;  } 
.ibe-icon-red-Arrow2UpRight{ background-position: -96px -672px;  } 
.ibe-icon-red-Arrow3Down{ background-position: -96px -768px;  } 
.ibe-icon-red-Arrow3Left{ background-position: -96px -864px;  } 
.ibe-icon-red-Arrow3Right{ background-position: -96px -960px;  } 
.ibe-icon-red-Arrow3Up{ background-position: -96px -1056px;  } 
.ibe-icon-red-Attach{ background-position: -96px -1152px;  } 
.ibe-icon-red-AudioMessage{ background-position: -96px -1248px;  } 
.ibe-icon-red-BackTop{ background-position: -96px -1344px;  } 
.ibe-icon-red-Back{ background-position: -96px -1440px;  } 
.ibe-icon-red-Bubble1{ background-position: -96px -1536px;  } 
.ibe-icon-red-Bubble3{ background-position: -96px -1632px;  } 
.ibe-icon-red-Burn{ background-position: -96px -1728px;  } 
.ibe-icon-red-Calc{ background-position: -96px -1824px;  } 
.ibe-icon-red-Calendar{ background-position: -96px -1920px;  } 
.ibe-icon-red-Cancel{ background-position: -192px 0;  } 
.ibe-icon-red-Car{ background-position: -192px -96px;  } 
.ibe-icon-red-Card1{ background-position: -192px -192px;  } 
.ibe-icon-red-Card2{ background-position: -192px -288px;  } 
.ibe-icon-red-Card3{ background-position: -192px -384px;  } 
.ibe-icon-red-Card4{ background-position: -192px -480px;  } 
.ibe-icon-red-Cart{ background-position: -192px -576px;  } 
.ibe-icon-red-Cart2{ background-position: -192px -672px;  } 
.ibe-icon-red-Cd{ background-position: -192px -768px;  } 
.ibe-icon-red-ClipboardCopy{ background-position: -192px -864px;  } 
.ibe-icon-red-ClipboardCut{ background-position: -192px -960px;  } 
.ibe-icon-red-ClipboardPaste{ background-position: -192px -1056px;  } 
.ibe-icon-red-Clock{ background-position: -192px -1152px;  } 
.ibe-icon-red-Computer{ background-position: -192px -1248px;  } 
.ibe-icon-red-Contact{ background-position: -192px -1344px;  } 
.ibe-icon-red-Copyright{ background-position: -192px -1440px;  } 
.ibe-icon-red-Cube{ background-position: -192px -1536px;  } 
.ibe-icon-red-CurrencyDollar{ background-position: -192px -1632px;  } 
.ibe-icon-red-CurrencyEuro{ background-position: -192px -1728px;  } 
.ibe-icon-red-CurrencyPound{ background-position: -192px -1824px;  } 
.ibe-icon-red-Database{ background-position: -192px -1920px;  } 
.ibe-icon-red-DirectionDiag1{ background-position: -288px 0;  } 
.ibe-icon-red-DirectionDiag2{ background-position: -288px -96px;  } 
.ibe-icon-red-DirectionHorz{ background-position: -288px -192px;  } 
.ibe-icon-red-DirectionVert{ background-position: -288px -288px;  } 
.ibe-icon-red-Directions{ background-position: -288px -384px;  } 
.ibe-icon-red-Discuss{ background-position: -288px -480px;  } 
.ibe-icon-red-DocumentNew{ background-position: -288px -576px;  } 
.ibe-icon-red-Document{ background-position: -288px -672px;  } 
.ibe-icon-red-Document2{ background-position: -288px -768px;  } 
.ibe-icon-red-DotsDown{ background-position: -288px -864px;  } 
.ibe-icon-red-DotsUp{ background-position: -288px -960px;  } 
.ibe-icon-red-Dots{ background-position: -288px -1056px;  } 
.ibe-icon-red-Download{ background-position: -288px -1152px;  } 
.ibe-icon-red-Email{ background-position: -288px -1248px;  } 
.ibe-icon-red-Exclamation{ background-position: -288px -1344px;  } 
.ibe-icon-red-Fbook{ background-position: -288px -1440px;  } 
.ibe-icon-red-Flag{ background-position: -288px -1536px;  } 
.ibe-icon-red-Folder{ background-position: -288px -1632px;  } 
.ibe-icon-red-Folder2{ background-position: -288px -1728px;  } 
.ibe-icon-red-Folder3{ background-position: -288px -1824px;  } 
.ibe-icon-red-Footprint{ background-position: -288px -1920px;  } 
.ibe-icon-red-Forbidden{ background-position: -384px 0;  } 
.ibe-icon-red-FullScreen{ background-position: -384px -96px;  } 
.ibe-icon-red-FullSize{ background-position: -384px -192px;  } 
.ibe-icon-red-Game{ background-position: -384px -288px;  } 
.ibe-icon-red-Gear{ background-position: -384px -384px;  } 
.ibe-icon-red-Globe{ background-position: -384px -480px;  } 
.ibe-icon-red-GoIn{ background-position: -384px -576px;  } 
.ibe-icon-red-GoOut{ background-position: -384px -672px;  } 
.ibe-icon-red-Graph{ background-position: -384px -768px;  } 
.ibe-icon-red-Hand{ background-position: -384px -864px;  } 
.ibe-icon-red-HddNetwork{ background-position: -384px -960px;  } 
.ibe-icon-red-Hdd{ background-position: -384px -1056px;  } 
.ibe-icon-red-Health{ background-position: -384px -1152px;  } 
.ibe-icon-red-Heart{ background-position: -384px -1248px;  } 
.ibe-icon-red-Home{ background-position: -384px -1344px;  } 
.ibe-icon-red-Home2{ background-position: -384px -1440px;  } 
.ibe-icon-red-Info{ background-position: -384px -1536px;  } 
.ibe-icon-red-Info2{ background-position: -384px -1632px;  } 
.ibe-icon-red-Ipod{ background-position: -384px -1728px;  } 
.ibe-icon-red-Key{ background-position: -384px -1824px;  } 
.ibe-icon-red-Light{ background-position: -384px -1920px;  } 
.ibe-icon-red-Link{ background-position: -480px 0;  } 
.ibe-icon-red-LockOpen{ background-position: -480px -96px;  } 
.ibe-icon-red-Lock{ background-position: -480px -192px;  } 
.ibe-icon-red-Loop{ background-position: -480px -288px;  } 
.ibe-icon-red-Luggage{ background-position: -480px -384px;  } 
.ibe-icon-red-Mail{ background-position: -480px -480px;  } 
.ibe-icon-red-Man{ background-position: -480px -576px;  } 
.ibe-icon-red-Microphone{ background-position: -480px -672px;  } 
.ibe-icon-red-Minus{ background-position: -480px -768px;  } 
.ibe-icon-red-Mobile{ background-position: -480px -864px;  } 
.ibe-icon-red-Mouse{ background-position: -480px -960px;  } 
.ibe-icon-red-Movie{ background-position: -480px -1056px;  } 
.ibe-icon-red-Music{ background-position: -480px -1152px;  } 
.ibe-icon-red-Music2{ background-position: -480px -1248px;  } 
.ibe-icon-red-Nuke{ background-position: -480px -1344px;  } 
.ibe-icon-red-Ok{ background-position: -480px -1440px;  } 
.ibe-icon-red-Paragraph{ background-position: -480px -1536px;  } 
.ibe-icon-red-Percent{ background-position: -480px -1632px;  } 
.ibe-icon-red-Phone{ background-position: -480px -1728px;  } 
.ibe-icon-red-Photo{ background-position: -480px -1824px;  } 
.ibe-icon-red-Picture{ background-position: -480px -1920px;  } 
.ibe-icon-red-PlayerEject{ background-position: -576px 0;  } 
.ibe-icon-red-PlayerFastFwd{ background-position: -576px -96px;  } 
.ibe-icon-red-PlayerFastRev{ background-position: -576px -192px;  } 
.ibe-icon-red-PlayerNext{ background-position: -576px -288px;  } 
.ibe-icon-red-PlayerPause{ background-position: -576px -384px;  } 
.ibe-icon-red-PlayerPlay{ background-position: -576px -480px;  } 
.ibe-icon-red-PlayerPrevious{ background-position: -576px -576px;  } 
.ibe-icon-red-PlayerRecord{ background-position: -576px -672px;  } 
.ibe-icon-red-PlayerStop{ background-position: -576px -768px;  } 
.ibe-icon-red-Plus{ background-position: -576px -864px;  } 
.ibe-icon-red-Podcast{ background-position: -576px -960px;  } 
.ibe-icon-red-Pointer{ background-position: -576px -1056px;  } 
.ibe-icon-red-Poll{ background-position: -576px -1152px;  } 
.ibe-icon-red-Printer{ background-position: -576px -1248px;  } 
.ibe-icon-red-Puzzle{ background-position: -576px -1344px;  } 
.ibe-icon-red-Question{ background-position: -576px -1440px;  } 
.ibe-icon-red-ReducedSize{ background-position: -576px -1536px;  } 
.ibe-icon-red-Refresh{ background-position: -576px -1632px;  } 
.ibe-icon-red-Rss1{ background-position: -576px -1728px;  } 
.ibe-icon-red-Rss2{ background-position: -576px -1824px;  } 
.ibe-icon-red-Save{ background-position: -576px -1920px;  } 
.ibe-icon-red-Screen{ background-position: -672px 0;  } 
.ibe-icon-red-Search{ background-position: -672px -96px;  } 
.ibe-icon-red-Security{ background-position: -672px -192px;  } 
.ibe-icon-red-Sitemap{ background-position: -672px -288px;  } 
.ibe-icon-red-SizeDiag1{ background-position: -672px -384px;  } 
.ibe-icon-red-SizeDiag2{ background-position: -672px -480px;  } 
.ibe-icon-red-SizeHorz{ background-position: -672px -576px;  } 
.ibe-icon-red-SizeVert{ background-position: -672px -672px;  } 
.ibe-icon-red-Sleep{ background-position: -672px -768px;  } 
.ibe-icon-red-Smiley1{ background-position: -672px -864px;  } 
.ibe-icon-red-Smiley2{ background-position: -672px -960px;  } 
.ibe-icon-red-Smiley3{ background-position: -672px -1056px;  } 
.ibe-icon-red-SoundMinus{ background-position: -672px -1152px;  } 
.ibe-icon-red-SoundOff{ background-position: -672px -1248px;  } 
.ibe-icon-red-SoundOn{ background-position: -672px -1344px;  } 
.ibe-icon-red-SoundPlus{ background-position: -672px -1440px;  } 
.ibe-icon-red-Standby{ background-position: -672px -1536px;  } 
.ibe-icon-red-Star{ background-position: -672px -1632px;  } 
.ibe-icon-red-Start{ background-position: -672px -1728px;  } 
.ibe-icon-red-Stats3{ background-position: -672px -1824px;  } 
.ibe-icon-red-Stats{ background-position: -672px -1920px;  } 
.ibe-icon-red-Stats2{ background-position: -768px 0;  } 
.ibe-icon-red-Table{ background-position: -768px -96px;  } 
.ibe-icon-red-Tag{ background-position: -768px -192px;  } 
.ibe-icon-red-Tape{ background-position: -768px -288px;  } 
.ibe-icon-red-Target{ background-position: -768px -384px;  } 
.ibe-icon-red-TextLarge{ background-position: -768px -480px;  } 
.ibe-icon-red-TextMeduim{ background-position: -768px -576px;  } 
.ibe-icon-red-TextMinus{ background-position: -768px -672px;  } 
.ibe-icon-red-TextPlus{ background-position: -768px -768px;  } 
.ibe-icon-red-TextSmall{ background-position: -768px -864px;  } 
.ibe-icon-red-ThumbDown{ background-position: -768px -960px;  } 
.ibe-icon-red-ThumbUp{ background-position: -768px -1056px;  } 
.ibe-icon-red-Tool{ background-position: -768px -1152px;  } 
.ibe-icon-red-Tool2{ background-position: -768px -1248px;  } 
.ibe-icon-red-Trackback{ background-position: -768px -1344px;  } 
.ibe-icon-red-Trash{ background-position: -768px -1440px;  } 
.ibe-icon-red-Travel{ background-position: -768px -1536px;  } 
.ibe-icon-red-Tree{ background-position: -768px -1632px;  } 
.ibe-icon-red-Tv{ background-position: -768px -1728px;  } 
.ibe-icon-red-User{ background-position: -768px -1824px;  } 
.ibe-icon-red-Video{ background-position: -768px -1920px;  } 
.ibe-icon-red-Wait{ background-position: -864px 0;  } 
.ibe-icon-red-Warning{ background-position: -864px -96px;  } 
.ibe-icon-red-WeatherCloud{ background-position: -864px -192px;  } 
.ibe-icon-red-WeatherCouldSun{ background-position: -864px -288px;  } 
.ibe-icon-red-WeatherRain{ background-position: -864px -384px;  } 
.ibe-icon-red-WeatherSnow{ background-position: -864px -480px;  } 
.ibe-icon-red-WeatherSun{ background-position: -864px -576px;  } 
.ibe-icon-red-Wizard{ background-position: -864px -672px;  } 
.ibe-icon-red-Woman{ background-position: -864px -768px;  } 
.ibe-icon-red-Wordpress{ background-position: -864px -864px;  } 
.ibe-icon-red-Write{ background-position: -864px -960px;  } 
.ibe-icon-red-Write2{ background-position: -864px -1056px;  } 
.ibe-icon-red-Write3{ background-position: -864px -1152px;  } 
.ibe-icon-red-ZoomIn{ background-position: -864px -1248px;  } 
.ibe-icon-red-ZoomOut{ background-position: -864px -1344px;  } 

.ibe-icon-black{background: url(../img/ibe-icon-black.png) no-repeat top left;}
.ibe-icon-black-1{ background-position: 0 0;  } 
.ibe-icon-black-2{ background-position: 0 -96px;  } 
.ibe-icon-black-3{ background-position: 0 -192px;  } 
.ibe-icon-black-4{ background-position: 0 -288px;  } 
.ibe-icon-black-5{ background-position: 0 -384px;  } 
.ibe-icon-black-6{ background-position: 0 -480px;  } 
.ibe-icon-black-7{ background-position: 0 -576px;  } 
.ibe-icon-black-8{ background-position: 0 -672px;  } 
.ibe-icon-black-9{ background-position: 0 -768px;  } 
.ibe-icon-black-Alarme{ background-position: 0 -864px;  } 
.ibe-icon-black-Ampersand{ background-position: 0 -960px;  } 
.ibe-icon-black-Application{ background-position: 0 -1056px;  } 
.ibe-icon-black-Applications{ background-position: 0 -1152px;  } 
.ibe-icon-black-Arrow1Down{ background-position: 0 -1248px;  } 
.ibe-icon-black-Arrow1DownLeft{ background-position: 0 -1344px;  } 
.ibe-icon-black-Arrow1DownRight{ background-position: 0 -1440px;  } 
.ibe-icon-black-Arrow1Left{ background-position: 0 -1536px;  } 
.ibe-icon-black-Arrow1Right{ background-position: 0 -1632px;  } 
.ibe-icon-black-Arrow1Up{ background-position: 0 -1728px;  } 
.ibe-icon-black-Arrow1UpLeft{ background-position: 0 -1824px;  } 
.ibe-icon-black-Arrow1UpRight{ background-position: 0 -1920px;  } 
.ibe-icon-black-Arrow2Down{ background-position: -96px 0;  } 
.ibe-icon-black-Arrow2DownLeft{ background-position: -96px -96px;  } 
.ibe-icon-black-Arrow2DownRight{ background-position: -96px -192px;  } 
.ibe-icon-black-Arrow2Left{ background-position: -96px -288px;  } 
.ibe-icon-black-Arrow2Right{ background-position: -96px -384px;  } 
.ibe-icon-black-Arrow2Up{ background-position: -96px -480px;  } 
.ibe-icon-black-Arrow2UpLeft{ background-position: -96px -576px;  } 
.ibe-icon-black-Arrow2UpRight{ background-position: -96px -672px;  } 
.ibe-icon-black-Arrow3Down{ background-position: -96px -768px;  } 
.ibe-icon-black-Arrow3Left{ background-position: -96px -864px;  } 
.ibe-icon-black-Arrow3Right{ background-position: -96px -960px;  } 
.ibe-icon-black-Arrow3Up{ background-position: -96px -1056px;  } 
.ibe-icon-black-Attach{ background-position: -96px -1152px;  } 
.ibe-icon-black-AudioMessage{ background-position: -96px -1248px;  } 
.ibe-icon-black-BackTop{ background-position: -96px -1344px;  } 
.ibe-icon-black-Back{ background-position: -96px -1440px;  } 
.ibe-icon-black-Bubble1{ background-position: -96px -1536px;  } 
.ibe-icon-black-Bubble3{ background-position: -96px -1632px;  } 
.ibe-icon-black-Burn{ background-position: -96px -1728px;  } 
.ibe-icon-black-Calc{ background-position: -96px -1824px;  } 
.ibe-icon-black-Calendar{ background-position: -96px -1920px;  } 
.ibe-icon-black-Cancel{ background-position: -192px 0;  } 
.ibe-icon-black-Car{ background-position: -192px -96px;  } 
.ibe-icon-black-Card1{ background-position: -192px -192px;  } 
.ibe-icon-black-Card2{ background-position: -192px -288px;  } 
.ibe-icon-black-Card3{ background-position: -192px -384px;  } 
.ibe-icon-black-Card4{ background-position: -192px -480px;  } 
.ibe-icon-black-Cart{ background-position: -192px -576px;  } 
.ibe-icon-black-Cart2{ background-position: -192px -672px;  } 
.ibe-icon-black-Cd{ background-position: -192px -768px;  } 
.ibe-icon-black-ClipboardCopy{ background-position: -192px -864px;  } 
.ibe-icon-black-ClipboardCut{ background-position: -192px -960px;  } 
.ibe-icon-black-ClipboardPaste{ background-position: -192px -1056px;  } 
.ibe-icon-black-Clock{ background-position: -192px -1152px;  } 
.ibe-icon-black-Computer{ background-position: -192px -1248px;  } 
.ibe-icon-black-Contact{ background-position: -192px -1344px;  } 
.ibe-icon-black-Copyright{ background-position: -192px -1440px;  } 
.ibe-icon-black-Cube{ background-position: -192px -1536px;  } 
.ibe-icon-black-CurrencyDollar{ background-position: -192px -1632px;  } 
.ibe-icon-black-CurrencyEuro{ background-position: -192px -1728px;  } 
.ibe-icon-black-CurrencyPound{ background-position: -192px -1824px;  } 
.ibe-icon-black-Database{ background-position: -192px -1920px;  } 
.ibe-icon-black-DirectionDiag1{ background-position: -288px 0;  } 
.ibe-icon-black-DirectionDiag2{ background-position: -288px -96px;  } 
.ibe-icon-black-DirectionHorz{ background-position: -288px -192px;  } 
.ibe-icon-black-DirectionVert{ background-position: -288px -288px;  } 
.ibe-icon-black-Directions{ background-position: -288px -384px;  } 
.ibe-icon-black-Discuss{ background-position: -288px -480px;  } 
.ibe-icon-black-DocumentNew{ background-position: -288px -576px;  } 
.ibe-icon-black-Document{ background-position: -288px -672px;  } 
.ibe-icon-black-Document2{ background-position: -288px -768px;  } 
.ibe-icon-black-DotsDown{ background-position: -288px -864px;  } 
.ibe-icon-black-DotsUp{ background-position: -288px -960px;  } 
.ibe-icon-black-Dots{ background-position: -288px -1056px;  } 
.ibe-icon-black-Download{ background-position: -288px -1152px;  } 
.ibe-icon-black-Email{ background-position: -288px -1248px;  } 
.ibe-icon-black-Exclamation{ background-position: -288px -1344px;  } 
.ibe-icon-black-Fbook{ background-position: -288px -1440px;  } 
.ibe-icon-black-Flag{ background-position: -288px -1536px;  } 
.ibe-icon-black-Folder{ background-position: -288px -1632px;  } 
.ibe-icon-black-Folder2{ background-position: -288px -1728px;  } 
.ibe-icon-black-Folder3{ background-position: -288px -1824px;  } 
.ibe-icon-black-Footprint{ background-position: -288px -1920px;  } 
.ibe-icon-black-Forbidden{ background-position: -384px 0;  } 
.ibe-icon-black-FullScreen{ background-position: -384px -96px;  } 
.ibe-icon-black-FullSize{ background-position: -384px -192px;  } 
.ibe-icon-black-Game{ background-position: -384px -288px;  } 
.ibe-icon-black-Gear{ background-position: -384px -384px;  } 
.ibe-icon-black-Globe{ background-position: -384px -480px;  } 
.ibe-icon-black-GoIn{ background-position: -384px -576px;  } 
.ibe-icon-black-GoOut{ background-position: -384px -672px;  } 
.ibe-icon-black-Graph{ background-position: -384px -768px;  } 
.ibe-icon-black-Hand{ background-position: -384px -864px;  } 
.ibe-icon-black-HddNetwork{ background-position: -384px -960px;  } 
.ibe-icon-black-Hdd{ background-position: -384px -1056px;  } 
.ibe-icon-black-Health{ background-position: -384px -1152px;  } 
.ibe-icon-black-Heart{ background-position: -384px -1248px;  } 
.ibe-icon-black-Home{ background-position: -384px -1344px;  } 
.ibe-icon-black-Home2{ background-position: -384px -1440px;  } 
.ibe-icon-black-Info{ background-position: -384px -1536px;  } 
.ibe-icon-black-Info2{ background-position: -384px -1632px;  } 
.ibe-icon-black-Ipod{ background-position: -384px -1728px;  } 
.ibe-icon-black-Key{ background-position: -384px -1824px;  } 
.ibe-icon-black-Light{ background-position: -384px -1920px;  } 
.ibe-icon-black-Link{ background-position: -480px 0;  } 
.ibe-icon-black-LockOpen{ background-position: -480px -96px;  } 
.ibe-icon-black-Lock{ background-position: -480px -192px;  } 
.ibe-icon-black-Loop{ background-position: -480px -288px;  } 
.ibe-icon-black-Luggage{ background-position: -480px -384px;  } 
.ibe-icon-black-Mail{ background-position: -480px -480px;  } 
.ibe-icon-black-Man{ background-position: -480px -576px;  } 
.ibe-icon-black-Microphone{ background-position: -480px -672px;  } 
.ibe-icon-black-Minus{ background-position: -480px -768px;  } 
.ibe-icon-black-Mobile{ background-position: -480px -864px;  } 
.ibe-icon-black-Mouse{ background-position: -480px -960px;  } 
.ibe-icon-black-Movie{ background-position: -480px -1056px;  } 
.ibe-icon-black-Music{ background-position: -480px -1152px;  } 
.ibe-icon-black-Music2{ background-position: -480px -1248px;  } 
.ibe-icon-black-Nuke{ background-position: -480px -1344px;  } 
.ibe-icon-black-Ok{ background-position: -480px -1440px;  } 
.ibe-icon-black-Paragraph{ background-position: -480px -1536px;  } 
.ibe-icon-black-Percent{ background-position: -480px -1632px;  } 
.ibe-icon-black-Phone{ background-position: -480px -1728px;  } 
.ibe-icon-black-Photo{ background-position: -480px -1824px;  } 
.ibe-icon-black-Picture{ background-position: -480px -1920px;  } 
.ibe-icon-black-PlayerEject{ background-position: -576px 0;  } 
.ibe-icon-black-PlayerFastFwd{ background-position: -576px -96px;  } 
.ibe-icon-black-PlayerFastRev{ background-position: -576px -192px;  } 
.ibe-icon-black-PlayerNext{ background-position: -576px -288px;  } 
.ibe-icon-black-PlayerPause{ background-position: -576px -384px;  } 
.ibe-icon-black-PlayerPlay{ background-position: -576px -480px;  } 
.ibe-icon-black-PlayerPrevious{ background-position: -576px -576px;  } 
.ibe-icon-black-PlayerRecord{ background-position: -576px -672px;  } 
.ibe-icon-black-PlayerStop{ background-position: -576px -768px;  } 
.ibe-icon-black-Plus{ background-position: -576px -864px;  } 
.ibe-icon-black-Podcast{ background-position: -576px -960px;  } 
.ibe-icon-black-Pointer{ background-position: -576px -1056px;  } 
.ibe-icon-black-Poll{ background-position: -576px -1152px;  } 
.ibe-icon-black-Printer{ background-position: -576px -1248px;  } 
.ibe-icon-black-Puzzle{ background-position: -576px -1344px;  } 
.ibe-icon-black-Question{ background-position: -576px -1440px;  } 
.ibe-icon-black-ReducedSize{ background-position: -576px -1536px;  } 
.ibe-icon-black-Refresh{ background-position: -576px -1632px;  } 
.ibe-icon-black-Rss1{ background-position: -576px -1728px;  } 
.ibe-icon-black-Rss2{ background-position: -576px -1824px;  } 
.ibe-icon-black-Save{ background-position: -576px -1920px;  } 
.ibe-icon-black-Screen{ background-position: -672px 0;  } 
.ibe-icon-black-Search{ background-position: -672px -96px;  } 
.ibe-icon-black-Security{ background-position: -672px -192px;  } 
.ibe-icon-black-Sitemap{ background-position: -672px -288px;  } 
.ibe-icon-black-SizeDiag1{ background-position: -672px -384px;  } 
.ibe-icon-black-SizeDiag2{ background-position: -672px -480px;  } 
.ibe-icon-black-SizeHorz{ background-position: -672px -576px;  } 
.ibe-icon-black-SizeVert{ background-position: -672px -672px;  } 
.ibe-icon-black-Sleep{ background-position: -672px -768px;  } 
.ibe-icon-black-Smiley1{ background-position: -672px -864px;  } 
.ibe-icon-black-Smiley2{ background-position: -672px -960px;  } 
.ibe-icon-black-Smiley3{ background-position: -672px -1056px;  } 
.ibe-icon-black-SoundMinus{ background-position: -672px -1152px;  } 
.ibe-icon-black-SoundOff{ background-position: -672px -1248px;  } 
.ibe-icon-black-SoundOn{ background-position: -672px -1344px;  } 
.ibe-icon-black-SoundPlus{ background-position: -672px -1440px;  } 
.ibe-icon-black-Standby{ background-position: -672px -1536px;  } 
.ibe-icon-black-Star{ background-position: -672px -1632px;  } 
.ibe-icon-black-Start{ background-position: -672px -1728px;  } 
.ibe-icon-black-Stats3{ background-position: -672px -1824px;  } 
.ibe-icon-black-Stats{ background-position: -672px -1920px;  } 
.ibe-icon-black-Stats2{ background-position: -768px 0;  } 
.ibe-icon-black-Table{ background-position: -768px -96px;  } 
.ibe-icon-black-Tag{ background-position: -768px -192px;  } 
.ibe-icon-black-Tape{ background-position: -768px -288px;  } 
.ibe-icon-black-Target{ background-position: -768px -384px;  } 
.ibe-icon-black-TextLarge{ background-position: -768px -480px;  } 
.ibe-icon-black-TextMeduim{ background-position: -768px -576px;  } 
.ibe-icon-black-TextMinus{ background-position: -768px -672px;  } 
.ibe-icon-black-TextPlus{ background-position: -768px -768px;  } 
.ibe-icon-black-TextSmall{ background-position: -768px -864px;  } 
.ibe-icon-black-ThumbDown{ background-position: -768px -960px;  } 
.ibe-icon-black-ThumbUp{ background-position: -768px -1056px;  } 
.ibe-icon-black-Tool{ background-position: -768px -1152px;  } 
.ibe-icon-black-Tool2{ background-position: -768px -1248px;  } 
.ibe-icon-black-Trackback{ background-position: -768px -1344px;  } 
.ibe-icon-black-Trash{ background-position: -768px -1440px;  } 
.ibe-icon-black-Travel{ background-position: -768px -1536px;  } 
.ibe-icon-black-Tree{ background-position: -768px -1632px;  } 
.ibe-icon-black-Tv{ background-position: -768px -1728px;  } 
.ibe-icon-black-User{ background-position: -768px -1824px;  } 
.ibe-icon-black-Video{ background-position: -768px -1920px;  } 
.ibe-icon-black-Wait{ background-position: -864px 0;  } 
.ibe-icon-black-Warning{ background-position: -864px -96px;  } 
.ibe-icon-black-WeatherCloud{ background-position: -864px -192px;  } 
.ibe-icon-black-WeatherCouldSun{ background-position: -864px -288px;  } 
.ibe-icon-black-WeatherRain{ background-position: -864px -384px;  } 
.ibe-icon-black-WeatherSnow{ background-position: -864px -480px;  } 
.ibe-icon-black-WeatherSun{ background-position: -864px -576px;  } 
.ibe-icon-black-Wizard{ background-position: -864px -672px;  } 
.ibe-icon-black-Woman{ background-position: -864px -768px;  } 
.ibe-icon-black-Wordpress{ background-position: -864px -864px;  } 
.ibe-icon-black-Write{ background-position: -864px -960px;  } 
.ibe-icon-black-Write2{ background-position: -864px -1056px;  } 
.ibe-icon-black-Write3{ background-position: -864px -1152px;  } 
.ibe-icon-black-ZoomIn{ background-position: -864px -1248px;  } 
.ibe-icon-black-ZoomOut{ background-position: -864px -1344px;  } 
